<div class="container home-deatils">
<div class="row">
    <div class="col-md-6 col-12  mt-2 pe-md-5 pe-0 ">
        <div class="my-3"><button class="btn tn-grad-icon-angle "><i class="fa fa-envelope-o" aria-hidden="true"></i></button> <strong class="ms-3">lorec shvui igsdfv sdgy </strong></div>
        <div class=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur minima incidunt earum sequi laudantium dolore eos est eaque quisquam iure .</p></div>
    </div>
    <div class="col-md-6 col-12  mt-2 pe-md-5 pe-0 ">
        <div class="my-3"><button class="btn tn-grad-icon-angle "><i class="fa fa-language" aria-hidden="true"></i></button> <strong class="ms-3">lorec shvui igsdfv sdgy </strong></div>
        <div class=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur minima incidunt earum sequi laudantium dolore eos est eaque quisquam iure .</p></div>
    </div>
    <div class="col-md-6 col-12  mt-2 pe-md-5 pe-0 ">
        <div class="my-3"><button class="btn tn-grad-icon-angle "><i class="fa fa-map-marker" aria-hidden="true"></i></button> <strong class="ms-3">lorec shvui igsdfv sdgy </strong></div>
        <div class=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur minima incidunt earum sequi laudantium dolore eos est eaque quisquam iure .</p></div>
    </div>
    <div class="col-md-6 col-12  mt-2 pe-md-5 pe-0 ">
        <div class="my-3"><button class="btn tn-grad-icon-angle "><i class="fa fa-file-text-o" aria-hidden="true"></i></button> <strong class="ms-3">lorec shvui igsdfv sdgy </strong></div>
        <div class=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur minima incidunt earum sequi laudantium dolore eos est eaque quisquam iure .</p></div>
    </div>
    <div class="col-md-6 col-12  mt-2 pe-md-5 pe-0 ">
        <div class="my-3"><button class="btn tn-grad-icon-angle "><i class="fa fa-bell-o" aria-hidden="true"></i></button> <strong class="ms-3">lorec shvui igsdfv sdgy </strong></div>
        <div class=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur minima incidunt earum sequi laudantium dolore eos est eaque quisquam iure .</p></div>
    </div>
    <div class="col-md-6 col-12  mt-2 pe-md-5 pe-0 ">
        <div class="my-3"><button class="btn tn-grad-icon-angle "><i class="fa fa-envelope-o" aria-hidden="true"></i></button> <strong class="ms-3">lorec shvui igsdfv sdgy </strong></div>
        <div class=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur minima incidunt earum sequi laudantium dolore eos est eaque quisquam iure .</p></div>
    </div>
  
</div>
</div>