<div class="container-fluid banner color-white">
<div class="container text-center">
    <h1 class="pt-5">Lorem ipsum dolor sit amet dffffo</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae labore laudantium, est, qui exercitationem iste aut optio voluptate delectus voluptates facilis quis at. Est, modi! Deserunt eius sunt numquam tenetur!

    </p>
    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-grad px-3 mt-5">Lorem ipsum .</button>
        <button class="btn btn-grad ms-3 px-3  mt-5">Lorem, ipsum .</button>    
    </div>
</div> 
<div class="computer-img">
        <img src="../../../../assets/computer3.jpg" alt="" class="computer-img" srcset="">
    </div>
</div> 
