<div class="container-fluid top-menu p-3">
    <div class="container d-flex justify-content-between">
        <div class="col-md-6 ">
            <span>
                <i class="fa fa-phone me-2  icon-color" aria-hidden="true"></i> <span>+91-9579438645</span>
            </span>
            <span class="ms-sm-5 ms-1">
                <i class="fa fa-envelope me-md-3 me-1 icon-color" aria-hidden="true"></i> <span>help@mail.com</span>
            </span>
        </div>
      

        <div class="">
            <i class="fa fa-linkedin me-md-3 me-1 icon-color" aria-hidden="true"></i>
            <i class="fa fa-twitter me-md-3 me-1 icon-color" aria-hidden="true"></i>
            <i class="fa fa-youtube-play me-md-3 me-1 icon-color" aria-hidden="true"></i>
            <i class="fa fa-instagram me-md-3 me-1 icon-color" aria-hidden="true"></i>
            <i class="fa fa-facebook me-md-3 me-1 icon-color" aria-hidden="true"></i>
        </div>
    </div>
</div>
