<div class="container-fluid mt-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12 me-5">
                <h6>about us</h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis vitae facilis doloremque corporis nostrum fugiat inventore, vero deserunt aspernatur ad doloribus quaerat, voluptatem iusto et. Ipsum itaque amet nulla consequuntur.</p>
            </div>
            <div class="col-6 col-md-4">
                <div class="row">
                    <div class="col-12"><h6>call  us</h6>
                    <p>+91724900292</p> </div>
                    <div class="col-12 mt-3"><h6>Send us email</h6> 
                    <p>
                        help@gmail.com
                    </p> </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <h6>Keep in touchedd</h6>
                <div class="">
                    <i class="fa fa-linkedin me-md-3 me-2 " aria-hidden="true"></i>
                    <i class="fa fa-twitter me-md-3 me-2 " aria-hidden="true"></i>
                    <i class="fa fa-youtube-play me-md-3 me-2 " aria-hidden="true"></i>
                    <i class="fa fa-instagram me-md-3 me-2 " aria-hidden="true"></i>
                    <i class="fa fa-facebook me-md-3 me-2 " aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="  d-flex justify-content-center footer-menu">
         <ul class="navbar-nav d-flex flex-row  mx-auto mb-2 mb-lg-0">
                
            <li class="nav-item">
            <a class="nav-link active m-md-2 m-1 p-md-3 p-1" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"  >Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active m-md-2 m-1 p-md-3 p-1" routerLinkActive="active" >Sservices</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active m-md-2 m-1 p-md-3 p-1" routerLinkActive="active" >Success stories</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active m-md-2 m-1 p-md-3 p-1" routerLinkActive="active" >Download  App</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active m-md-2 m-1 p-md-3 p-1" routerLinkActive="active" >About Us</a>
            </li>
         
        
       
        </ul>
    </div>
   
</div>
