<div class="container-fluid mt-5 services py-5 ">
    <div class="container">
        <div class=" d-flex flex-column  justift content-center align-items-center">
            <h1>
                servces
            </h1>
            <p class="col-10 text-center mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, commodi
                repellat ipsa architecto ut ex exercitationem numquam! Reiciendis nisi non accusamus impedit expedita
                veniam omnis.</p>
            <div class="col-12 my-5">
                <hr>
            </div>

        </div>
        <h5 class="text-center mb-5">lore hfuy</h5>
        <div class="d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="row">
                        <div class="col-12 m-2 pe-3 p-3 services-card my-3 pe-5">
                            <div class="d-flex align-items-end flex-column">
                                <button class=" tn-grad-icon-angle p-2 rounded-circle "><i class="fa fa-user-o"
                                        aria-hidden="true"></i></button>
                                <p class="mt-3">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, quidem.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 m-2 pe-3 p-3 services-card my-3 pe-5">
                            <div class="d-flex align-items-end flex-column">
                                <button class="tn-grad-icon-angle p-2 rounded-circle "><i class="fa fa-user-o"
                                        aria-hidden="true"></i></button>
                                <p class="mt-3">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, quidem.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 m-2 pe-3 p-3 services-card my-3 pe-5">
                            <div class="d-flex align-items-end flex-column">
                                <button class="tn-grad-icon-angle p-2 rounded-circle "><i class="fa fa-user-o"
                                        aria-hidden="true"></i></button>
                                <p class="mt-3">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, quidem.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-md-3 col-12 mx-md-5  patient-system">
                    <div class="d-flex justify-content-center align-items-center py-4 ">
                        <div class="patient-img">
                            <img src="../../../../assets/patient.jpg" class="img-fluid " alt="">
                        </div>
                       
                    </div>
                </div>


                <div class="col-md-3 col-12">
                    <div class="row">
                        <div class="col-12 m-2  services-card p-3 ps-4 my-3 pe-5">
                            <div class="">
                                <button class="tn-grad-icon-angle p-2 rounded-circle "><i class="fa fa-user-o"
                                        aria-hidden="true"></i></button>
                                <p class="mt-3">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, quidem.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 m-2 ps-4  services-card p-3 my-3 pe-5">
                            <div class="">
                                <button class="tn-grad-icon-angle p-2 rounded-circle "><i class="fa fa-user-o"
                                        aria-hidden="true"></i></button>
                                <p class="mt-3">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, quidem.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 m-2  services-card ps-4 p-3 my-3 pe-5">
                            <div class="">
                                <button class="tn-grad-icon-angle p-2 rounded-circle "><i class="fa fa-user-o"
                                        aria-hidden="true"></i></button>
                                <p class="mt-3">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, quidem.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>